use crate::wg_events_tnc_r12_preview::define_tnc_preview_compat;

define_tnc_preview_compat! {
    upstream_gate = crate::@@HEPTA_WORKGRAPH_TOKEN_0000@@::@@HEPTA_WORKGRAPH_TOKEN_0001@@;
    upstream_decisions = crate::@@HEPTA_WORKGRAPH_TOKEN_0000@@::@@HEPTA_WORKGRAPH_TOKEN_0002@@;
    upstream_required_gates = crate::@@HEPTA_WORKGRAPH_TOKEN_0000@@::@@HEPTA_WORKGRAPH_TOKEN_0003@@;
    upstream_decision_field = @@HEPTA_WORKGRAPH_TOKEN_0004@@;
    gate_const = @@HEPTA_WORKGRAPH_TOKEN_0005@@ => @@HEPTA_WORKGRAPH_TOKEN_0006@@;
    schema_const = @@HEPTA_WORKGRAPH_TOKEN_0007@@ => @@HEPTA_WORKGRAPH_TOKEN_0008@@;
    next_const = @@HEPTA_WORKGRAPH_TOKEN_0009@@ => @@HEPTA_WORKGRAPH_TOKEN_0010@@;
    report_type = @@HEPTA_WORKGRAPH_TOKEN_0011@@;
    plan_type = @@HEPTA_WORKGRAPH_TOKEN_0012@@;
    stage_type = @@HEPTA_WORKGRAPH_TOKEN_0013@@;
    guard_type = @@HEPTA_WORKGRAPH_TOKEN_0014@@;
    blocker_type = @@HEPTA_WORKGRAPH_TOKEN_0015@@;
    effects_type = @@HEPTA_WORKGRAPH_TOKEN_0016@@;
    report_upstream_gate = @@HEPTA_WORKGRAPH_TOKEN_0017@@;
    report_plan_count = @@HEPTA_WORKGRAPH_TOKEN_0018@@;
    report_stage_count = @@HEPTA_WORKGRAPH_TOKEN_0019@@;
    report_stage_source_count = @@HEPTA_WORKGRAPH_TOKEN_0020@@;
    report_stage_contract_count = @@HEPTA_WORKGRAPH_TOKEN_0021@@;
    report_plan_stage_count = @@HEPTA_WORKGRAPH_TOKEN_0022@@;
    report_plan_evidence_count = @@HEPTA_WORKGRAPH_TOKEN_0023@@;
    report_plans = @@HEPTA_WORKGRAPH_TOKEN_0024@@;
    report_stages = @@HEPTA_WORKGRAPH_TOKEN_0025@@;
    report_ready_readback = @@HEPTA_WORKGRAPH_TOKEN_0026@@;
    report_ready_event_store = @@HEPTA_WORKGRAPH_TOKEN_0027@@;
    plan_id = @@HEPTA_WORKGRAPH_TOKEN_0028@@;
    plan_state = @@HEPTA_WORKGRAPH_TOKEN_0029@@;
    plan_stage_ids = @@HEPTA_WORKGRAPH_TOKEN_0030@@;
    guard_required = @@HEPTA_WORKGRAPH_TOKEN_0031@@;
    blocker_stage_ids = @@HEPTA_WORKGRAPH_TOKEN_0032@@;
    blocker_plan_ids = @@HEPTA_WORKGRAPH_TOKEN_0033@@;
    blocker_required = @@HEPTA_WORKGRAPH_TOKEN_0031@@;
    effects_frontier = terminal_no_cutover_receipt_acknowledgement_replay_idempotency_closeout_receipt_acknowledgement_replay_idempotency_closeout_established;
    report_fn = @@HEPTA_WORKGRAPH_TOKEN_0034@@;
    plans_fn = @@HEPTA_WORKGRAPH_TOKEN_0035@@;
    stages_fn = @@HEPTA_WORKGRAPH_TOKEN_0036@@;
    guards_fn = @@HEPTA_WORKGRAPH_TOKEN_0037@@;
    blockers_fn = @@HEPTA_WORKGRAPH_TOKEN_0038@@;
    required_gates_fn = @@HEPTA_WORKGRAPH_TOKEN_0039@@;
    preview_mode = @@HEPTA_WORKGRAPH_TOKEN_0040@@;
    decision_evidence_field = @@HEPTA_WORKGRAPH_TOKEN_0041@@;
    event_store_category = @@HEPTA_WORKGRAPH_TOKEN_0042@@;
    event_store_disabled_guard_id = @@HEPTA_WORKGRAPH_TOKEN_0043@@;
    plan_state_value = @@HEPTA_WORKGRAPH_TOKEN_0044@@;
    plan_suffix = @@HEPTA_WORKGRAPH_TOKEN_0045@@;
    blocker_id = @@HEPTA_WORKGRAPH_TOKEN_0046@@;
    expected_runtime_state = @@HEPTA_WORKGRAPH_TOKEN_0047@@;
    plans_test = @@HEPTA_WORKGRAPH_TOKEN_0048@@;
    stages_test = @@HEPTA_WORKGRAPH_TOKEN_0049@@;
    blockers_test = @@HEPTA_WORKGRAPH_TOKEN_0050@@;
    effects_test = @@HEPTA_WORKGRAPH_TOKEN_0051@@;
    parity_test = @@HEPTA_WORKGRAPH_TOKEN_0052@@;
    baseline_sha256 = @@HEPTA_WORKGRAPH_TOKEN_0053@@;
}
